.background{

    background-image: url(https://cdn2.hubspot.net/hubfs/439788/Blog/Featured%20Images/Best%20Hotel%20Website%20Designs.jpg);
    background-size: cover;
    background-position: center;
}