
<!-- <div class=" bg-yellow-400 w-full h-full">
    <div class="  max-w-xl mx-auto py-8  px-9   bg-red-500">
        <form>
            <div>
                <label id="username">username</label>
                <input type="text" placeholder="username" >
             </div>
             <div>
                <label id="passworde">passworde</label>
                <input type="text" placeholder="username"  id="passworde">
             </div>
             <div>
                <button>Logib</button>
             </div>
        </form>
    </div>
</div> -->

<div class="bg-yellow-400 min-h-screen   flex items-center justify-center background">
    <div class="max-w-xl w-full mx-auto py-8 px-9 bg-white">
        <form class="space-y-6">
            <div>
                <label for="username" class=" py-2 px-3 font-bold mb-2">Username</label>
                <input type="text" placeholder="username" class=" appearance-none outline-none   py-3 px-2 rounded-xl shadow-lg border-2  focus:border-blue-300 w-full">
            </div>
            <div>
                <label for="password" class=" py-2 px-3 font-bold mb-2  ">Password</label>
                <input type="password" placeholder="password" id="password" class=" appearance-none outline-none py-3 px-2 rounded-xl shadow-lg border-2  focus:border-blue-300 w-full">
            </div>
            <div>
                <button type="submit" class="bg-blue-500 text-white py-2 px-4 rounded focus:bg-blue-600" (click)="goToAbout()">Login</button>
            </div>
        </form>
    </div>
</div>